@import "tailwindcss";
@import "tw-animate-css";

.container {
  @apply flex flex-col h-full min-h-0;
}

.container > header {
  background-color: var(--color-black-1);
  @apply flex-shrink-0 left-0 top-0 h-[32px] w-full flex justify-end items-center p-2;
  -webkit-app-region: drag;
}

.container .menu-content {
  @apply flex flex-col gap-4 px-4 py-4 overflow-y-auto flex-1 min-h-0;
  max-width: 280px;
}

button {
  -webkit-app-region: none;
}

.start-up-with-system-container {
  @apply flex items-center gap-2 max-w-[280px];
}

.start-up-with-system-container>input {
  @apply w-4 h-4 border border-gray-300 rounded-sm focus:ring-0 focus:ring-offset-0;
}

.about-button,
.quit-button {
  @apply bg-transparent w-full m-0 p-0 border-none active:scale-95 text-left block;
}

.language-switcher-container {
  @apply flex flex-col gap-1;
}
.language-switcher-container select {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}